@media screen and (min-width: 240px) and (max-width: 795px) {
header {
  background-image: url('../img/bg_760.jpg');
	}
}
@media screen and (max-width: 321px) {
header {
  background-image: url('../img/291.jpg');
    height: 300px;
	}
}
@media screen and (min-width: 322px) and (max-width: 376px) {
header {
  background-image: url('../img/375.jpg');
    height: 350px;
	}
}

@media screen and (min-width: 377px) and (max-width: 767px) {
header {
  background-image: url('../img/414.jpg');
    height: 350px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
header {
  background-image: url('../img/768.jpg');
    height: 500px;
	}
}


@media screen and (min-width: 1000px) {
header {
  background-image: url('../img/header-bg.jpg');
	}
}

@media screen and (max-width: 767px) {

	.timeline:before {
		display: none;
	}

	.timeline > li .timeline-image {
	    position: relative;
	    margin: auto;
	}

	.timeline > li .timeline-panel {
	    float: none;
	    padding: 0;
	    text-align: center;
	    margin-top: 30px;
	}

	.timeline > li .timeline-panel h3 {
	    margin-top: 0;
	}

	.timeline > li.timeline-inverted > .timeline-panel {
	    float: none;
	    text-align: center;
	    padding: 0;
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-brand.page-scroll {
	max-width: 200px;
	height: auto;
	}
}

@media screen and (max-width: 359px) {
    .navbar-brand.page-scroll {
	max-width: 200px;
	height: auto;
	}
}